
body{
    background-color: #e0ff00;
    background-repeat: no-repeat;
    background-position: 50%  -100%;
    background-image: url(../img/wallpaper.png);
    color: rgb(255, 255, 255);
    font-family: 'Architects Daughter', cursive;
}