
body{
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: 'Architects Daughter', cursive;
}

.content {
    
    color: black !important;
    min-height: 120px;
    border-radius: 5px;
    padding-top: 25px;
    margin-top: 80px;
    
    }
